.edit-delete{
  margin-bottom: -4px;
}
.middle {
    text-align: center;

}
.boldfont {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: -21px;
  font-style: oblique;
}
.tagline {
  margin-bottom: -19px;

}
.caption-style{
font-weight: lighter;
}
.bio {
  font-weight: lighter;
  margin-bottom: -19px;
  font-style: oblique;
}
.edit{
  font-size: 10px;
}

.middle img {
  height: 240px;
  width: 290px;
  margin-top: 40px;
}
.caption {
  margin-bottom: -19px;
}
.caption-style{
  font-style: oblique;
  font-size: 21px;
  font-weight: lighter;
}
.italic {
  font-style: italic;
}
.ed-size {
  font-size: 10px;
  font-weight: li
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
